<h1>Hello</h1>

<p>A simple example, be sure your browser's developer console is open.</p>
<p>Click "Say Hello" to print "Hello World".</p>
<p>Click "Throw Error" to cause an exception.</p>
<p>javascript is at app/javascript/src/main.js</p>

<form>
  <button id="helloBtn">Say Hello</button>
  <button id="throwBtn">Throw Error</button>
</form>

<p id="hello"></p>
